<li><a href="#home">Home</a></li>
<li><a href="#about">About Us</a></li>
<li><a href="#parking">Our Parking</a></li>
<li><a>Contact Us</a></li>
<li><%= link_to "Sign Up", new_user_registration_path %></li>
<li><%= link_to "Sign In", new_user_session_path %></li>